
<h1> this is my dyno page </h1>
<h1>this is my  platform : <%=node['platform'] %></h1>
<h1>this is my  platform_version : <%=node['platform_version'] %></h1>
<h1>this is my  platform_family : <%=node['platform_family'] %></h1>
